.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
}
.contenedor_films{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 110px 50px;
    background-color: black;
}
.contenedor_films_film{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
    border: 2px black solid;
    border-radius: 2px;
    background-color: white;
    color: black;
    margin: 30px 20px;
}
.contenedor_films_film_img{
    width: 180px;
    height: 200px;
    padding: 10px;
}
.contenedor_films_film_img_h4{
    margin: 5px 15px;
}
