.divAdmin{
    display: flex;
    flex-direction: column;
    padding-top:20px;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    justify-content:center;
    align-items: center;    
    color: rgb(255, 255, 255);
}

.divAdmin h2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: clamp(24px, 3vw, 42px);
    height: auto;
    margin-top: 100px;
    text-align: center;
    color: aquamarine;
}
.divAdmin h3{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: clamp(18px, 3vw, 28px);
    height: auto;
    margin-top: 20px;
    text-align: center;
    color: aquamarine;
}

.admin{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    width: 80%;
    height: auto;
    padding-top: 20px;
    background-color: black;
}

.listaBuscadorUsers{
    margin: 20px 0px;
    width: 90%;
    min-width: 350px;
    height: 1000px;
    overflow-y: auto;
    scrollbar-width: none;
}

.crearBorrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 350px;
    height: auto;
    margin: 20px 0px;;
}
app-admin-users{
    width: 500px;
}

@media screen and (max-width: 1124px) {
    .admin {
        flex-direction: column;
        align-items: center;
    }
    .listaBuscadorFilms {
        width: 100%;
    }
    .crearBorrar{
        width: 100%;
    }
    app-admin-users{
        width: 90%;
    }
}