.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/background1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
}

.contenedor_h1{
    width: 70%;
    margin-top: 20vh;
    color: aquamarine;
    font-size: clamp(28px, 3vw, 42px);
    font-weight: 900;
}

app-register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50vh;
    margin-top: 50px;
}