.contenedor_home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/background1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
}

.contenedor_home_h1{
    width: 70%;
    margin-top: 150px;
    padding: 30px;
    color: aquamarine;
    font-size: clamp(28px, 4vw, 48px);
    font-weight: 900;
}
.contenedor_home_h2{
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    color: aquamarine;
    font-size: clamp(16px, 3vw, 36px);
    font-weight: 900;
}