
    <div class="film">
        <img class="img" src="{{film.img}}" alt="{{film.title}}"/>
        <div class="film_datos">
            <div class="film_datos_principales">
                <h5 class="title"> {{film.title}} </h5>
                <h5 class="director"> <strong>Director:</strong> {{film.director}} </h5>        
                <h5 class="year"><strong>Año:</strong> {{film.year}}</h5>
                <p class="category"> <strong>Categoría:</strong> {{film.category}}</p>
            </div>        
            <p class=" synopsis">{{film.synopsis}}</p>
        </div>
    </div>

