<div class="contenedor">
    <form class="titleInputAndButtonUsers" [formGroup]="searcherUser" (ngSubmit)="searchUser()">
        <label>Filtra los usuarios por nombre</label>
        <fieldset class="inputAndButtonUsers">
            <input type="text" formControlName="user" placeholder="Introduzca nombre" />
            <button type="submit">Buscar</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>ID</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of (usersFiltered.length > 0 ? usersFiltered : users); let i = index">
                <td>{{ x.name }}</td>
                <td>{{ x._id }}</td>
                <td>{{ x.role }}</td>
            </tr>
        </tbody>
    </table>
</div>
